@model BlogPlatform.Model.TagPosts
@{
    Layout = "_Layout";
}

<h2>
    <p>@Model.post.Title</p>
</h2>
<hr />
<p>@Model.post.Author</p>
<p>@Model.post.Date</p>
<hr />
<p style="width:50vw">@Model.post.Body</p>
<hr />
<a href="~/post/delete/@Model.PostId">Delete</a>
<p>Tags:</p>
<p>@Model.tag.Name</p>
