@model BlogPlatform.Model.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<body>
    @*<section>
        <ul>
            @foreach (var Post in Model)
            {
                <h3><li>@Post.Title</li></h3>
                <hr />
                <li>
                    @Post.Author
                </li>
                <li>@Post.Date</li>
                <hr />
                <li>@Post.Body</li>
                <hr />
                <a href="~/Post/Edit/@Post.PostId">Edit</a>
                <a href="~/Post/Delete/@Post.PostId">Delete</a>
                <li>Tags:</li>
                @*<p>@Model.tag</p>*@
    @*}
            </ul>
        </section>*@*
    <h2>
    @Model.Title</h2>
    <hr />
    <p>@Model.Author</p>
    <p>@Model.Date</p>
    <hr />
    <p>@Model.Body</p>
    <hr />
    <a href="~/Post/Edit/@Model.PostId">Edit</a>
    <a href="~/post/delete/@Model.PostId">Delete</a>
    <p>Tags:</p>
    @*<p>@Model.tag</p>*@*
</body>
</html>